# Byte-compiled, Optimized, DLL Files
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# Distribution and Packaging Files
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

# Unit Tests and Coverage Reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.env.*
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# Spyder Project Settings
.spyderproject
.spyproject

# Rope Project Settings
.ropeproject

# mkdocs Documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre Type Checker
.pyre/

# pytype Static Type Analizer
.pytype/

# Cython Debug Symbols
cython_debug/

